<div id="princ">
  <h1>Registro de obreros</h1>
  <div class="my-3">
    <input type="text" placeholder="Nombre" class="form-control" [(ngModel)]="cuadroNombre">
  </div>
  <div class="mb-3">
    <input type="text" placeholder="apellido" class="form-control" [(ngModel)]="cuadroApell">
  </div>
  <div class="mb-3">
    <input type="number" placeholder="edad" class="form-control" [(ngModel)]="cuadroEdad">
  </div>
  <div class="mb-3">
    <button class="btn btn-warning" (click)="anadir()">Agregar obrero</button>
  </div>
</div>

<app-salida [obreroshijo]="obreros"></app-salida>